
.App {
  background-color: azure;
  text-align: center;
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
  /* gap: 1rem;  */
   
}
 .card-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin:auto;
  justify-content: center
 }
 .cart-value{
  display:flex;
  justify-content: flex-end;
  margin:  10px;
  font-size: medium;
 }

 .heading{
  background-color: cadetblue;
  padding: 10%;
  margin:1%;
 }
 .hint{
  background-color:darkgray;
  font-size: x-small;
  /* margin:1%;  */
 }
 